* {
  margin: 0;
  padding: 0;
}

.container {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.container input {
  font-size: 2rem;
  width: 50%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#create-button {
  margin-bottom: 1rem;
  color: #fff;
  background-color: #4caf50;
} 

#create-button:hover {
  background-color: #236326;
}

#join-button {
  margin-top: 0.2rem;
  color: #fff;
  background-color: #ff9000;
}

#join-button:hover {
  background-color: #ce7500;
}

.container input[type=text] {
  box-sizing: border-box;
  margin-top: 1rem;
}

#game-id {
  border: 1px solid #555;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.game-container {
  width: 80%;
  align-items: baseline;
}

.game-container span {
  margin-right: 0.5rem;
}

.stats-container {
  align-items: baseline;
}

.stats-wrapper {
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999;
  width: 50%;
  height: 50%;
  border: 1px solid #000;
}

.quote-container {
  word-wrap: break-word;
  display: inline-block;
  width: 100%;
}